doctype html

html
    title.
        Smart Bilz
    body
        h1 Smart Bilz
        h2 version 0.0.7
        h3 29/3/20 - Updated item description & isGoods in itemLine in sales
        h3 12/4/20 - Disount type, contact name in sales and purchase invoice
        br
        h2 please wait for a while for updated website.
        br
        br
        h3=message
    